<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
  </head>
  <body>
    <% include ./src/navbar.html %>
    <!-- UPLOAD MODAL -->
    <div class="modal fade" id="modalUploadForm" tabindex="-2" role="dialog" aria-labelledby="modalUploadFormLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalUploadFormLabel">Upload Files</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- MODAL BODY -->
              <div class="table table-striped" class="files" id="previews">
                  <div id="template" class="file-row">
                    <!-- This is used as the file preview template -->
                      <span class="preview"><img data-dz-thumbnail /></span>
                      <p class="name" data-dz-name></p>
                      <strong class="error text-danger" data-dz-errormessage></strong>
                      <p class="size" data-dz-size></p>
                      <button class="btn btn-primary start">
                          <i class="glyphicon glyphicon-upload"></i>
                          <span>Start</span>
                      </button>
                      <button data-dz-remove class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancel</span>
                      </button>
                      <button data-dz-remove class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                      </button>
            
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                      <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                    </div>
            
                  </div>
                </div>              
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary start fileinput-button">Files...</button>
              <button id="startall" class="btn btn-primary start">Upload</button>
              <button id="cancelall" class="btn btn-primary cancel">Cancell</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                
            </div>
            <div class="modal-footer">
                <div id="total-progress" class="progress progress-striped active" style="width:100%;" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                  <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                </div>  
            </div>
          </div>
        </div>
    </div>
    <!-- CHOOSER BUTTONS -->
    <div class="container text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalUploadForm">Upload</button>
        <button type="button" class="btn btn-primary" onClick="window.location.reload()" >Refresh</button>
    </div>
    <!-- FILES -->
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">File</th>
            <th scope="col">Size</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="filetable">
        </tbody>
      </table>
    </div>
  </body>
</html>
